#root {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 2rem;
  max-width: calc(425px - 4rem);
  font-family: system-ui, 'Inter';
}

label {
  font-weight: 400;
  color: #555;
}

.select-wrapper {
  position: relative;
  margin: 0.5rem 0 1rem 0;
}

.select-wrapper::before {
  position: absolute;
  content: '\0025BC';
  right: 0.75rem;
  top: 50%;
  font: normal normal normal 12px/1 FontAwesome;
  transform: translateY(-50%);
  pointer-events: none;
}

select {
  -webkit-appearance: none;
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  color: black;
  background-color: white;
  border: 1px solid black;
  border-radius: 0.5rem;
}

div.result {
  margin: 0.25rem 0;
}