body {
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Inter', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ebe9e9;
  background: linear-gradient(to bottom, 
    #65a500 0, 
    #65a500 5rem, 
    #ebe9e9 5rem,
    #ebe9e9 100%) no-repeat;
}

h1 {
  margin: 0 0 2rem 0;
  color: white;
}

a {
  margin-bottom: 0.5rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
